$primary-dark: #32353e;
$primary-light: #4f8eb7;
$secondary-light: #adb0c3;
$accent: #d85857;

@mixin shadow($color) {
  box-shadow: 3px 5px 10px 1px rgba($color, 0.5), -3px 5px 10px 1px rgba($color, 0.5);
}

@mixin flex-define($direction, $grow, $justify) {
  display: flex;
  flex-direction: $direction;
  flex-grow: $grow;
  justify-content: $justify;
}

@mixin links ($link, $visit, $hover, $active) {
  a {
    text-decoration: none;
    color: $link;
    &:visited {
      color: $visit;
    }
    &:hover {
      color: $hover;   
    }
    &:active {
      color: $active;
    }
  }
}

body, html, #wrapper {
  background-color: $primary-dark;
  margin: 0;
  padding: 0;
}

#wrapper {
  @include flex-define(column, 1, flex-end);
}

nav {
  @include flex-define(row, 1, flex-end);
  .link {
    padding: 10px;
  }
}

#middle {
  flex-grow: 5;

  #header-container {
    @include flex-define(column, 5, flex-start);

    #header {
      height: 350px;
      background: url('../images/background.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      z-index: 2;

      #header-cutout {
        height: 100%;
        background: url('../images/cutout.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom center;
      }
    }

    main {
      border-radius: 10px;
      margin-left: 30px;
      margin-right: 30px;
      background-color: $primary-light;
      @include flex-define(column, 3, space-evenly);
      z-index: 2;

      #main-top-bar {
        @include flex-define(row, 1, space-evenly);
      }

      #main-content {
        @include flex-define(row, 3, none);

        #content {
          @include flex-define(column, 1, flex-end);
          flex-basis: 70%;
        }

        article {
          margin: 10px;
          background-color: $secondary-light;
          @include shadow($primary-dark);

          .main-header {
            background-color: $primary-dark;
          }

          .main-body {
            padding: 10px;
          }

          .main-footer {
            text-align: right;
            padding: 10px;
          }
        }

        aside {
          background-color: $secondary-light;
          margin: 10px;
          flex-grow: 1;
          flex-basis: 30%;

          #aside-header {
            background-color: $primary-dark;
            margin: 0;
            color: $secondary-light;
          }

          #aside-body {
            padding: 10px;
            margin: 10px;
          }

          #aside-footer {
            text-align: right;
            margin-right: 10px;
          }

        }
      }

    }
  }
}

footer {
  flex-grow: 1;
}